<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EldoriaLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EldoriaLauncher.Properties.Settings>
            <setting name="GameMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="Ram" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="RamIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinecraftVer" serializeAs="String">
                <value>1.20.1</value>
            </setting>
            <setting name="FabricVer" serializeAs="String">
                <value>0.15.10</value>
            </setting>
            <setting name="ModpackVer" serializeAs="String">
                <value />
            </setting>
        </EldoriaLauncher.Properties.Settings>
    </userSettings>
</configuration>